# Django
DJANGO_SECRET_KEY=""
DJANGO_DEBUG=
DJANGO_ALLOWED_HOSTS=
DJANGO_CSRF_TRUSTED_ORIGINS=
DJANGO_USE_WHITENOISE=

# Database 
DB_NAME=
DB_USER=
DB_PASSWORD=
DB_HOST=
DB_PORT=

#REDIS
REDIS_HOST=
REDIS_PORT=


# Email
EMAIL_HOST=
EMAIL_PORT=
EMAIL_USE_TLS=
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
DEFAULT_FROM_EMAIL=

# Google OAuth
GOOGLE_OAUTH_CLIENT_ID=
GOOGLE_OAUTH_CLIENT_SECRET=
GOOGLE_ANDROID_CLIENT_ID=
GOOGLE_ANDROID_CALLBACK_URL=
GOOGLE_IOS_CLIENT_ID=
GOOGLE_IOS_CALLBACK_URL=

# GitHub OAuth
GITHUB_OAUTH_CLIENT_ID=
GITHUB_OAUTH_CLIENT_SECRET=

# AWS S3 Storage
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_STORAGE_BUCKET_NAME=
AWS_S3_REGION_NAME=ap-south-1
AWS_S3_CUSTOM_DOMAIN=

# Monitoring (Grafana)
GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=admin